<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MagicRings_00000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,19}</string>
                <key>spriteSize</key>
                <string>{69,404}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3631,513},{69,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MagicRings_00001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-1}</string>
                <key>spriteSize</key>
                <string>{115,442}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3953,2418},{115,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-36}</string>
                <key>spriteSize</key>
                <string>{307,514}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3581,1841},{307,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MagicRings_00003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-52}</string>
                <key>spriteSize</key>
                <string>{419,510}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3631,1},{419,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-66}</string>
                <key>spriteSize</key>
                <string>{529,484}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3589,1202},{529,484}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MagicRings_00005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-9}</string>
                <key>spriteSize</key>
                <string>{573,598}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1825,3067},{573,598}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MagicRings_00006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{589,608}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1825,2457},{589,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{589,608}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{2416,2457},{589,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{583,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1211,3048},{583,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MagicRings_00009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{589,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1211,2457},{589,612}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MagicRings_00010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-1}</string>
                <key>spriteSize</key>
                <string>{603,614}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1,1},{603,614}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1,617},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{606,1},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1,1231},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{606,615},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{601,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1816,615},{601,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{595,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{606,3069},{595,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1211,1},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{599,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1211,1843},{599,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1,1845},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{606,1229},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1211,615},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1816,1},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1,2459},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{606,1843},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{603,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1211,1229},{603,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{597,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1816,1229},{597,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{587,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{2409,1843},{587,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{595,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1812,1843},{595,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{587,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{2415,1229},{587,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{583,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{2419,615},{583,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{583,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{2425,3067},{583,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{581,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3004,613},{581,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{583,612}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3004,1227},{583,612}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-3}</string>
                <key>spriteSize</key>
                <string>{581,610}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{2998,1843},{581,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{603,610}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{2421,1},{603,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{603,610}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1,3073},{603,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-3}</string>
                <key>spriteSize</key>
                <string>{603,610}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{606,2457},{603,610}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{603,608}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3026,1},{603,608}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-19}</string>
                <key>spriteSize</key>
                <string>{603,578}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3007,2455},{603,578}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MagicRings_00040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-38}</string>
                <key>spriteSize</key>
                <string>{603,540}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3010,3060},{603,540}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MagicRings_00041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-61}</string>
                <key>spriteSize</key>
                <string>{589,494}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3587,611},{589,494}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MagicRings_00042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-121}</string>
                <key>spriteSize</key>
                <string>{557,374}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1,3685},{557,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-126}</string>
                <key>spriteSize</key>
                <string>{547,364}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3587,2418},{547,364}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MagicRings_00044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-155}</string>
                <key>spriteSize</key>
                <string>{539,306}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1203,3633},{539,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-159}</string>
                <key>spriteSize</key>
                <string>{537,296}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1744,3642},{537,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-165}</string>
                <key>spriteSize</key>
                <string>{525,284}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{2283,3681},{525,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-174}</string>
                <key>spriteSize</key>
                <string>{505,266}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{3581,2150},{505,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MagicRings_00048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-305,306.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{613,616}</string>
                <key>textureRect</key>
                <string>{{1,4061},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wild_animation.png</string>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efad6675323517805a0d1767bd38dfcd:f0c9800c37d46e3ad962cf51fcfe4462:8ec2b49874b130779cddfbb4fce88e25$</string>
            <key>textureFileName</key>
            <string>wild_animation.png</string>
        </dict>
    </dict>
</plist>
